<div class="form">
  <div class="name_field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="email_field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="password_field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="password_confirmation_field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <p class="submit"><%= f.submit %></p>
</div>
