<h1>Log in</h1>
<%= form_tag sessions_path do %>
  <div class="email_field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="password_field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class ="submit">
    <%= submit_tag %>
  </div>
<% end %>
