<p>プロフィール</p>
<div class="search">
  <%= form_tag user_path, method: 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<div class="search_results">
  <% if @found_user.present? %>
    <span><%= @found_user.name << 'さん' %></span>
    <% if friendship = @found_user.friendships.find_by(friend: @user) %>
      <% if friendship.status == 'pending' %>
        <span><%= link_to '承認する', friendship_path(@user, friend_id: @found_user), method: 'put' %></span>
      <% elsif friendship.status == 'requested' %>
        <span>承認待ち</span>
      <% elsif friendship.status == 'accepted' %>
        <span>友達</span>
      <% end %>
    <% else %>
      <span><%= link_to '友達になる', friendships_path(user_id: @user, friend_id: @found_user), method: 'post' %></span>
    <% end %>
  <% end %>
</div>
<div class="waiting_friendship">
  <% unless @waiting_request_ids.first == nil %>
    <% @waiting_request_ids.each do |request_id| %>
      <div class="waiting_requests">
        <span><%= Friendship.find(request_id).friend.name %></span>
        <span><%= '承認待ち' %></span>
      </div><br>
    <% end %>
  <% end %>
</div>
<div class="requested_friendship">
  <% unless @unaccepted_request_ids.first == nil %>
    <% @unaccepted_request_ids.each do |request_id| %>
      <div class="waiting_requests">
        <span><%= Friendship.find(request_id).user.name %></span>
        <span><%= link_to '承認する', friendship_path(@user, friend_id: Friendship.find(request_id).user.id), method: 'put' %></span>
      </div><br>
    <% end %>
  <% end %>
</div>
